@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Droid+Serif:400,400italic);
body {
  background-color: #ecf0e7;
  font-family: "Droid Serif", serif;
  font-size: 14px;
  color: #8ea7c2;
}

a, a:focus, a:hover, a:visited {
  color: #b8cca6;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin: 15px 0px;
  font-size: 3em;
}

.container {
  background-color: #e1e1e6;
  margin: 0px auto;
  padding: 0px;
  max-width: 700px;
}

.row {
  margin: 2px 0px;
  padding: 5px;
  line-height: 50px;
}

.menu {
  position: absolute;
  right: 0px;
  bottom: 5px;
  color: #5c5457;
  font-family: "Oswald", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
.menu #online .circle {
  background-color: #b8cca6;
}
.menu #offline .circle {
  background-color: #8ea7c2;
}
.menu .selector .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #5c5457;
  border: 1px solid #5c5457;
  float: left;
  margin: 5px 5px 5px 0px;
}
.menu .active, .menu .selector:hover {
  width: 65px !important;
  transition: width 0.4s linear;
  cursor: pointer;
}
.menu .selector {
  line-height: 20px;
  height: 20px;
  background-color: #e1e1e6;
  padding: 0px 5px;
  margin: 2px 0px;
  width: 20px;
  overflow: hidden;
  float: right;
  clear: right;
  transition: width 0.4s linear;
}
.menu .selector p {
  float: right;
  margin: 0px;
}

#header, #footer {
  position: relative;
  background-color: #5c5457;
  color: #e1e1e6;
  padding: 5px 65px 5px 15px;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 3px solid #e1e1e6;
}

#streaming {
  font-style: italic;
}
.offline {
  background-color: #4a5e82;
}

.online {
  background-color: #b8cca6;
  color: #5c5457;
}


#name, #streaming {
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.online a, .online a:focus, .online a:hover, .online a:visited {
  color: #4a5e82;
}

@media (min-width: 768px) {
  .container {
    margin: 10px auto;
  }

  #name, #streaming {
    line-height: 50px;
    height: 50px;
  }

  #header {
    padding-left: 65px;
  }
}